[Unit]
Description=Youtube Live Stream Service
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/Desktop/ptk-greenhouse/live-stream/live-stream.sh XXXXXXXXXXXXX-XXXXXXXX
KillMode=process
#Restart=on-abort
Restart=always
#Restart=never

[Install]
WantedBy=multi-user.target
